.plans
  background-color: #FFF0F5

.plans_container
  padding-top: 150px
  width: 1900px
  height: 1150px
  h3
    color: #25365d
    font-size: 72px
    font-family: "MariadPro"
    padding-bottom: 60px
    text-align: center
  p
    font-size: 16px
    font-family: "MariadPro"
    text-align: center
    padding-bottom: 80px
    line-height: 25px
.plans_tools
  display: flex
  flex-direction: row
  justify-content: space-around
  padding-bottom: 75px
.btn_forplans
  display: flex
  justify-content: center
  background-color: #FFF0F5
  padding-top: 50px
  p
    text-align: center
    font-size: 18px
    font-family: "MariadPro"
    color: #696969
.btn_forplans_first
  background-color: #FFF
  height: 285px
  width: 360px
  h4
    font-size: 22px
    font-family: "MariadPro"
    padding-bottom: 40px
    text-align: center
    padding-top: 40px
    color: #696969
    text-transform: uppercase
.btn_forplans_wrapp
  display: flex
  justify-content: center
  padding-bottom: 50px
.submit_plans
  border: 0
  color: #25365d
  font-size: 72px
  font-family: "MariadPro"
  font-weight: 600
  background-color: #fff
  &:hover
    background-color: #C0C0C0
    text-shadow: 1px 1px 2px #800000
    transition: .3s
    border-radius: 10px
.support

  img
    display: block
    margin: 0 auto
    padding-bottom: 30px
  h4
    font-size: 22px
    font-family: "MariadPro"
    color: #25365d
    text-align: center
    padding-bottom: 40px
.contact
  display: flex
  flex-direction: row
  justify-content: center
.contact_email
  padding-right: 95px
  a
    font-size: 22px
    font-family: "MariadPro"
    color: #25365d
    font-weight: 600
    text-decoration: none
    &:hover
      color: #A52A2A
      transition: .3s
.contact_tell
  a
    font-size: 22px
    font-family: "MariadPro"
    color: #25365d
    font-weight: 600
    text-decoration: none
    &:hover
      color: #A52A2A
      transition: .3s
