.services
  background-color: #FFF0F5
.services_container
  display: grid
  grid-template-columns: 65px 200px 65px 200px 65px 200px
  grid-template-rows: 200px 200px
  justify-content: space-between
  grid-gap: 20px
  padding-top: 145px
  width: 1900px
  height: 600px
.imgservices
  margin-left: -60px
.highimg
  background-image: url("../img/imac.png")
  background-repeat: no-repeat
.photoimg
  background-image: url("../img/phot.png")
  background-repeat: no-repeat
.layersimg
  background-image: url("../img/file.png")
  background-repeat: no-repeat
.supportimg
  background-image: url("../img/smartphone.png")
  background-repeat: no-repeat
.themeimg
  background-image: url("../img/wand.png")
  background-repeat: no-repeat
.ttvimg
  background-image: url("../img/share.png")
  background-repeat: no-repeat
