@charset "UTF-8";
/* line 1, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.intro {
  width: 100%;
  height: 100vh;
  background-image: url("../img/intro_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 100%;
}

/* line 8, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.intro__wrap {
  padding-top: 240px;
  text-align: center;
}

/* line 11, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.intro__wrap h1 {
  font-size: 90px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #fff;
  animation: fade-up 1s .5s forwards 1;
}

/* line 17, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.intro_text {
  padding-top: 35px;
  text-align: center;
  animation: fade-up 1.2s .6s forwards 1;
}

/* line 21, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.intro_text p {
  color: #fff;
  font-weight: 200;
  word-spacing: 1px;
}

/* line 25, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.btn_down {
  height: 55px;
  width: 220px;
  border-radius: 25px;
  background-color: #25365d;
  border: 0;
  color: #fff;
  position: relative;
  animation: fade-visibility;
  animation-duration: 2s;
  animation-delay: .3s;
}

/* line 36, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.btn_down a {
  color: #fff;
  text-decoration: none;
}

/* line 41, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.img_save {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}

/* line 48, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
*, :before, :after {
  box-sizing: border-box;
}

/* line 51, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 58, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.button {
  border: 0;
  font-size: 1.4em;
  padding: 1em 2em;
  background-color: white;
  border-radius: 5px;
  transition: all .3s ease-in 200ms;
}

/* line 65, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.button:hover {
  cursor: pointer;
  background-color: #25365d;
  color: white;
  transition: all .2s ease-out 0s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}

/* line 99, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.animate-pulse {
  width: 220px;
  height: 60px;
  border-radius: 25px;
  color: #25365d;
  font-family: "MariadPro";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  animation: fade-visibility;
  animation-duration: 2.4s;
  animation-delay: .3s;
}

/* line 112, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.animate-pulse:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 25px;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.8s;
  animation-duration: 1.8s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 131, C:/Users/Коля/Desktop/Enyo/sass/components/intro.sass */
.animate-pulse:hover:after {
  background-color: #25365d;
  transition: all .2s ease-in 0s;
}

/*# sourceMappingURL=../../css/components/intro.map */