@charset "UTF-8";
/* line 1, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.plans {
  background-color: #FFF0F5;
}

/* line 4, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.plans_container {
  padding-top: 150px;
  width: 1900px;
  height: 1150px;
}

/* line 8, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.plans_container h3 {
  color: #25365d;
  font-size: 72px;
  font-family: "MariadPro";
  padding-bottom: 60px;
  text-align: center;
}

/* line 14, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.plans_container p {
  font-size: 16px;
  font-family: "MariadPro";
  text-align: center;
  padding-bottom: 80px;
  line-height: 25px;
}

/* line 20, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.plans_tools {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 75px;
}

/* line 25, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.btn_forplans {
  display: flex;
  justify-content: center;
  background-color: #FFF0F5;
  padding-top: 50px;
}

/* line 30, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.btn_forplans p {
  text-align: center;
  font-size: 18px;
  font-family: "MariadPro";
  color: #696969;
}

/* line 35, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.btn_forplans_first {
  background-color: #FFF;
  height: 285px;
  width: 360px;
}

/* line 39, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.btn_forplans_first h4 {
  font-size: 22px;
  font-family: "MariadPro";
  padding-bottom: 40px;
  text-align: center;
  padding-top: 40px;
  color: #696969;
  text-transform: uppercase;
}

/* line 47, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.btn_forplans_wrapp {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

/* line 51, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.submit_plans {
  border: 0;
  color: #25365d;
  font-size: 72px;
  font-family: "MariadPro";
  font-weight: 600;
  background-color: #fff;
}

/* line 58, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.submit_plans:hover {
  background-color: #C0C0C0;
  text-shadow: 1px 1px 2px #800000;
  transition: .3s;
  border-radius: 10px;
}

/* line 65, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.support img {
  display: block;
  margin: 0 auto;
  padding-bottom: 30px;
}

/* line 69, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.support h4 {
  font-size: 22px;
  font-family: "MariadPro";
  color: #25365d;
  text-align: center;
  padding-bottom: 40px;
}

/* line 75, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 79, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.contact_email {
  padding-right: 95px;
}

/* line 81, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.contact_email a {
  font-size: 22px;
  font-family: "MariadPro";
  color: #25365d;
  font-weight: 600;
  text-decoration: none;
}

/* line 87, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.contact_email a:hover {
  color: #A52A2A;
  transition: .3s;
}

/* line 91, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.contact_tell a {
  font-size: 22px;
  font-family: "MariadPro";
  color: #25365d;
  font-weight: 600;
  text-decoration: none;
}

/* line 97, C:/Users/Коля/Desktop/Enyo/sass/components/plans.sass */
.contact_tell a:hover {
  color: #A52A2A;
  transition: .3s;
}

/*# sourceMappingURL=../../css/components/plans.map */